@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Lato:wght@400;700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('image/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: black;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

h1{
    font-size: xx-large;
}

section#about {
    border-radius: 0px 0px 60px 60px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #0f043f, #0a5480);
    color: white;
}
h2{
    color: white;
    font-size: xx-large;
}


#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section#projects .project {
    background: linear-gradient(to right, #061450ce, #193f86ce);
    
    border: 1px outset rgb(5, 5, 5);
    color: rgb(228, 226, 226);
    width: 80%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
section#projects .project h3{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section#projects a{
    color: aqua;
    font-size: large;
}


section#skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

section#skills ul li {
    background: #129fe0ea;
    
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    border: 2px inset rgb(28, 136, 28);
    box-shadow: -1px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    
}

#contact{
    border-radius: 60px 60px 0px 0px;
    color: white;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), 1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #0a5480, #0f043f); /* Degradado de izquierda a derecha */
}

section#contact a {
    color: white;
    
    
}

footer {
    background: #0a0101;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
