body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('image/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: black;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}



section#about {
    border-radius: 0px 0px 60px 60px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #0f043f, #0a5480); /* Degradado de izquierda a derecha */
    color: white;
}
h2{
    color: white;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section#projects .project {
    background-color: rgba(30, 172, 2, 0.904);
    border: 2px solid rgb(28, 136, 28);
    color: rgb(2, 2, 2);
    width: 80%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    
}


section#skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

section#skills ul li {
    background: #019463;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    width: 60%;
    font-weight: bold;
    box-shadow: -1px 10px 12px -1px rgba(0, 0, 0, 0.6), -1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
}

#contact{
    border-radius: 60px 60px 0px 0px;
    color: white;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.6), 1px 10px 12px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #0a5480, #0f043f); /* Degradado de izquierda a derecha */
}

section#contact a {
    color: white;
    
    
}

footer {
    background: #0a0101;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}